$--font-family-sans-serif: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$--font-family-site: 'Golos Text', 'Golos', $--font-family-sans-serif;

// Line height
$--line-height-base: 1.4286; // 20/14

// Font weights
$--font-weight-normal: 400;
$--font-weight-medium: 500;
$--font-weight-semibold: 600;
$--font-weight-bold: 700;
